<h1>People</h1>

<div id="app">
<h2>Add a Person</h2>
<div>
	Name: <input type="text" v-model="newPersonName">
	Bio: <input type="text" v-model="newPersonBio">
	<button v-on:click="addPerson()">Add Person</button>

</div>
	<div v-for="person in people"> 
		<h2 v-on:click="toggleBio(person)">{{ person.name }}</h2>
		<h3 v-if="person.bioVisible">
		{{ person.bio }}
		<button v-on:click="deletePerson(person)">Delete Person</button>
		</h3>
	</div>
	
<h4>Total number of people: {{ people.length }} </h4>
</div>